/* CSS Document */
.STYLE1 {
	font-size: 14px;
	font-family: "微软雅黑";
}
-->
body,td,th,p {
	font-family: 微软雅黑;
	font-size: 14px;
}
<!-- 
td.top{ vertical-align:top; } /* 顶端对齐 */ 
td.bottom{ vertical-align:bottom; } /* 底端对齐 */ 
td.middle{ vertical-align:middle; } /* 中间对齐 */ 
td.topmiddle{ vertical-align:middle; vertical-align:top; } /* 中间顶部对齐 */ 
.com {
color:#FFFFFF
}
.com1 {
color:#0099FF
}
.com2 {
font-size:20px
}
.com3 {
color:#0066FF
}
.com4 {
color:#3366FF
}
.com5 {
color:#00CCFF
}
.com6 {
color:#000000
}
.com7 {
color:#666
}
.s1{
font-size:16px}
.s2{
font-size:30px}
.font{
	font-family: 微软雅黑;
}